.favorite_apps{
    height: 750px;
    width: 100vw;
    background-color: var(--bg-primary);
    background-image: url('/images/Element.png');
    background-repeat: no-repeat;
    background-size:100%, 620px;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 140px 220px;
}
.favorite_apps_wrapper{
    width: 85vw;
     /* border: 1px solid white; */
     display: flex;
     gap: 50px;
}
.favorite_apps_wrapper .left{
    height: 470px;
    width: 45%;
    /* border: 1px solid red; */
}
.favorite_apps_wrapper .left img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.favorite_apps_wrapper .right{
    height: 470px;
    width: 55%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    color: white;
}
.favorite_apps_wrapper .right h2{
    font-weight: bold;
    font-family: inter;
    font-size: 50px;
}
.favorite_apps_wrapper .right p{
    margin-top: 24px;
    margin-bottom: 60px;
    font-weight: 200;
    font-size: 14px;
    font-family: inter;
    line-height: 20px;
}
.favorite_apps_wrapper .right a{
    padding: 15px 40px;
    background: var(--bg-sec-primary);
    width: fit-content;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-family: inter;
}
.favorite_apps_wrapper .right a::after{
    content: url('/images/right-arrow.png');
    margin-left: 5px;
}
@media(max-width:1115px){
    .favorite_apps{
        padding:100px 0px;
    }
    .favorite_apps_wrapper{
        width: 90%;
        /* border: 2px solid white; */
    }
}
@media(max-width:1000px){
    .favorite_apps_wrapper .left img{
        height: 300px;
    }
    .favorite_apps_wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .favorite_apps_wrapper .left{
        display: flex;
        justify-content: center;
        width: 100%;
        /* border: 2px solid red; */
        height: fit-content;
    }
    .favorite_apps_wrapper .right{
        width: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        /* border: 2px solid red; */
    }
    .favorite_apps_wrapper .right h2{
        font-size: 35px;
    }
}
@media(max-width:854px){
    .favorite_apps{
        padding: 50px;
    }
    .favorite_apps_wrapper .right p{
        margin-bottom: 30px;
    }
}
@media(max-width:495px){
    .favorite_apps_wrapper .right p{
       font-size: 12px;
    }
    .favorite_apps_wrapper .right h2{
        font-size: 20px;
    }
}
@media(max-width:355px){
    .favorite_apps_wrapper .right p{
        margin-bottom: 20px;
    }
    .favorite_apps_wrapper .right a{
        padding: 10px;
    }
}