<div class="plan">
   <ng-content select="[p, span]"></ng-content>
   <ng-content select="[p, span]"></ng-content>
   <ng-content select="[p , span]"></ng-content>
   <ul>
    <li>Sync unlimited devices</li>
    <li>10 GB monthly uploads</li>
    <li>200 MB max. note size</li>
    <li>Customize Home dashboard and access extra widgets</li>
    <li>Connect primary Google Calendar account</li>
    <li>Add due dates, reminders, and notifications to your tasks</li>
   </ul>
   <a href="#">Get Started</a>
  </div>
