<footer>
    <section class="link_container">
      <div class="top_link_holder">
        <ul>
        <span class="company">Whitespace</span>
         <p>whitepace was created for the new ways we live and work. We make a better workspace around the world</p>
        </ul>
        <ul>
        <span>Products</span>
          <li>Overview</li>
          <li>Pricing</li>
          <li>Customer stories </li>
        </ul>
        <ul>
        <span>Resources</span>
          <li>Blog</li>
          <li>Guides & tutorials</li>
          <li>Help Center</li>
        </ul>
        <ul>
        <span>Company</span>
          <li>About Us</li>
          <li>Career</li>
          <li>Media Kit </li>
        </ul>
        <ul>
        <span>Try it today</span>
        <p>Get started for free.
          Add your whole team as your needs grow.</p>
          <li><a href="#">Start today</a></li>
        </ul>
      </div>
      <div class="bottom_link_holder">
        <ul>
          <li>English</li>
          <li>Terms & Privacy</li>
          <li>Security</li>
          <li>Status</li>
          <li>2021 Whitepate LLC</li>
          <li></li>
        </ul>
        <ul>
          <a href="#"><img src="images/light-fb.png" alt=""></a>
          <a href="#"><img src="images/light-twitter.png" alt=""></a>
          <a href="#"><img src="images/light-Linkedin.png" alt=""></a>
        </ul>
      </div>
    </section>
  </footer>
