
.your_data{
    height: 661px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}
.your_data_wrapper{
    width: 80%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}
.your_data_wrapper .left{
   height: 324px;
   width: 60%;
   /* border: 2px solid black; */
   display: flex;
   flex-direction: column;
   font-family: inter;
}
.your_data_wrapper .left h1{
    font-weight: bold;
    font-size: 50px;
    background-image: url('/images/projectElement.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.your_data_wrapper .left p{
    font-weight: 250;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 60px;
    line-height: 25px;
}
.your_data_wrapper .left a{
    padding: 20px 40px;
    width: fit-content;
    background: var(--bg-sec-primary);
    border-radius: 6px;
    text-decoration: none;
    color: white;
}
.your_data_wrapper .left a::after{
    content: url('/images/right-arrow.png');
    margin-left: 5px;
}
.your_data_wrapper .right{
    height: 381px;
    width: 40%;
    /* border: 2px solid black; */
}
.your_data_wrapper .right img{
    height: 400px;
    width: 400px;
    object-fit: contain;
    /* border: 2px solid black; */
}
@media(max-width:1100px){
    .your_data_wrapper{
        display: flex;
        flex-direction: column;
    }
    .your_data_wrapper .right{
        order: 1;
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .your_data_wrapper .left{
        order: 2;
        width: 80%;
        align-items: center;
        /* border: 2px solid black; */
    }
}
@media(max-width:564px){
    .your_data_wrapper .left h1{
        font-size: 35px;
    }
}
@media(max-width:459px){
    .your_data_wrapper .left{
        width: 95%;
    }
    .your_data_wrapper .left a{
        padding: 10px;

    }
}
@media(max-width:420px){
    .your_data_wrapper .right{
        width: fit-content;
        /* border: 2px solid black; */
    }
    .your_data_wrapper .right img{
        width: 300px;
        height: 300px;
    }
    .your_data_wrapper .left h1{
    font-size: 25px;
    }
}