
.project_section{
    height: 1588px;
    width: 100vw;
    background-image: url('/images/pm-bg.png');
    background-repeat: no-repeat;
    background-position-y: 125px;
    background-position-x: -382px;
    background-size:603px, 449px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .project_section .top{
      height: 547px;
      margin-top: 140px;
      margin-left:  220px;
      margin-bottom: 100px;
      margin-right: 220px;
      /* border: 2px solid black; */
      width: 85vw;
      display: flex;
      align-items: center;
      gap: 60px;
  }
  
  .project_article{
      height: 411px;
      /* border: 2px solid black; */
      width: 45%;
  }
  .project_article h2{
      font-family: inter;
      font-weight: bold;
      font-size: 72px;
      margin-bottom: 24px;
      background-image: url('/images/projectElement.png');
      background-repeat: no-repeat;
      background-position: bottom;
  }
  .project_article p{
      font-weight: 200;
      font-family: inter;
      margin-bottom: 60px;
      line-height: 25px;
  }
  .project_article a{
      padding: 20px 40px;
      background: var(--bg-sec-primary);
      width: fit-content;
      border-radius: 6px;
      color: white;
      font-family: inter;
      text-decoration: none;
  }
  .project_article a::after{
      content: url('/images/right-arrow.png');
      margin-left: 5px;
  }
  .project_img{
      height: 100%;
      /* border: 2px solid red; */
      width: 55%;
      background: var(--sec-sub-color);
  }
   .project_section .bottom{
      height: 661px;
      width: 85vw;
      /* border: 2px solid red; */
      display: flex;
      align-items: center;
      gap: 100px;
  }
  .project_section .bottom .left{
      height: 100%;
      width: 45%;
      /* border: 2px solid black; */
  }
   .project_section .bottom .left img{
      height: 100%;
      width: 100%;
      object-fit: contain;
  }
   .project_section .bottom .right{
      height: 294px;
      width: 55%;
      /* border: 2px solid black; */
  
  }
  .project_section .bottom .right h2{
      font-size: 50px;
      font-weight: bold;
      font-family: inter;
      background-image: url('/images/projectElement.png');
      background-repeat: no-repeat;
     background-position: 80px 20px;
      background-size: 400px;
      margin-bottom: 24px;
  }
  .project_section .bottom .right p{
      font-weight: 200;
      font-size: 18px;
      font-family: inter;
      margin-bottom: 60px;
      line-height: 30px;
  }
  .project_section .bottom .right a{
      background: var(--bg-sec-primary);
      width: fit-content;
      padding: 20px 40px;
      border-radius: 6px;
      font-family: inter;
      color: white;
      text-decoration: none;
  }
  .project_section .bottom .right a::after{
      content: url('/images/right-arrow.png');
      margin-left: 5px;
  }
  @media(max-width:1100px){
   .project_article h2{
    font-size: 50px;
    background-position: 80px 80px;
    background-size: contain;
   }
   .top .project_img{
    height: 85%;
   }
  }
  /* @media(max-width:980px){
     .project_article p{
        line-height: 25px;
     }
  } */
  @media(max-width:920px){
   .project_section .top{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
   }
   .project_section .top .project_article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .top .project_article h2{
    background-position: 150px 15px;
   }
   .top .project_article p{
    text-align: center;
   }
   .top .project_img{
    height: 100%;
    width: 70%;
   }
  }
  @media(max-width:830px){
    .project_section .bottom .right h2{
      font-size: 35px;
      background-position: 80px 10px;
    }
  }
  @media(max-width:740px){
    .project_section .bottom{
      display: flex;
      flex-direction: column;
      /* border: 2px solid red; */
      gap: 50px;
    }
    .project_section .bottom .right{
        /* border: 2px solid black; */
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .project_section .bottom .left{
        order: 2;
        /* border: 2px solid black; */
        width: 60%;
    }
    .project_section .bottom .right p{
        text-align: center;
        font-size: 14px;
    }

  }
  @media(max-width:700px){
    .project_article h2{
        font-size: 40px;
    }
  }
  @media(max-width:540px){
    .project_article h2{
        font-size: 25px;
        background-position: 40px 10px;
        background-size: 200px;
    }
    .project_article p{
        font-size: 13px;
    }
    .project_article a{
        padding: 15px 15px;
    }
    .top .project_img {
     width: 90%;
    }
  }
  @media(max-width:480px){
    .project_section .bottom .right p{
        margin-bottom: 30px;
    }
    .project_section .bottom .left{
    width: 80%;
    }
  }