<section class="project_section">
    <div class="top">
      <div class="project_article">
        <h2>{{article[1].header}}</h2>
        <p>{{article[1].ptag}}</p>
        <a [href]="article[1].link">{{article[1].link_content}}</a>
      </div>
      <div class="project_img"></div>
    </div>
    <div class="bottom">
      <div class="left">
        <img src="images/Work Together Image.png" alt="">
      </div>
      <div class="right">
        <h2>{{article[2].header}}</h2>
        <p>{{article[2].ptag}}</p>
          <a [href]="article[2].link">{{article[2].link_content}}</a>
      </div>
    </div>
  </section>
