<section class="choose_plan">
    <div class="plan_wrapper">
      <div class="plan_header">
        <h1>Choose your plan</h1>
        <p>Whether you want to get organized, keep your personal life on track, or boost workplace productivity, Evernote has the right plan for you.</p>
      </div>
      <div class="plan_grid">
    <app-plan-card>
      <p>Free</p>
      <p>$0</p>
      <p>Keep home and family on track </p>
      
    </app-plan-card>
    <app-plan-card>
      <p>Personal</p>
      <p>$11.99</p>
      <p>Capture ideas and find them quickly</p>
    </app-plan-card>
    <app-plan-card>
      <p>Organisation</p>
      <p>$49.99</p>
      <p>Capture ideas and find them quickly</p>
    </app-plan-card>
      </div>
    </div>
  </section>
