<section class="testimonials">
    <div class="testimonials_wrapper">
      <h3>What our client says</h3>
      <div class="testimonials_grid">
        <app-testimonial-card>
          <img src="images/first-client.png" alt="">
        </app-testimonial-card>
        <app-testimonial-card>
          <img src="images/second-client.png" alt="">
        </app-testimonial-card>
        <app-testimonial-card>
          <img src="images/third-client.png" alt="">
        </app-testimonial-card>
      </div>
    </div>
  </section>
